$blue : #0033A0;
$green : #006847;
$red : #ce1126;

blockquote {padding-left:1%; padding-right:1%;}

blockquote {font-size:14px;}

h1 {font-size: 26px;}
h2 {font-size: 24px;}
h3 {font-size: 22px;}
h4 {font-size: 20px;}
h5 {font-size: 18px;}
h6 {font-size: 16px;}

p {font-size: 16px;}

h1, h2, h3, h4, h5, h6, p, li, a, blockquote {text-rendering: optmimizeLegiblity;}
h1, h3, h4, h5, h6, h6 {-webkit-font-smoothing: subpixel;  text-shadow: 1px 1px 1px rgba(0,0,0,0.004); font-family: sans-serif;}
p, a, blockquote, li {-webkit-font-smoothing: antialised;  text-shadow: 1px 1px 1px rgba(0,0,0,0.004); font-family: serif;}





